@page "/TextFormat"
@using AmadonBlazor.Data;
@using UbStandardObjects.Objects;
@inject IJSRuntime JS
@inject TextService Service

<h3>@Title</h3>

@((MarkupString)Html)

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Html { get; set; }

    [Parameter]
    public string Entry { get; set; }


    protected override async Task OnInitializedAsync()
    {
        string entry = "100:1:5";
        Html = await TextService.GetHtml(entry);
    }

    protected override async void OnParametersSet()
    {
        if (Entry == null) Entry = "100:1:5";
        Html = await TextService.GetHtml(Entry);
    }

}
