@using Amadon.Controls
@inherits LayoutComponentBase

<div class="flex-container bg-dark text-white m-0 p-0">
    <TopNavbar />
    <div class="jumptop" />
    <div class="flex-grow">
        @Body
    </div>
</div>



