@inherits LayoutComponentBase

<div class="page bg-dark text-white">



    <main>
        <article class="content bg-dark text-white p-4">
            <Amadon.Controls.TopNavbar></Amadon.Controls.TopNavbar>
            <div class="container-fluid">
                <div id="leftColumn" class="black splitLeft left mt-0 bg-warning overflow-auto">
                </div>

                <div id="rightColumn" class="black splitRight right mt-0 bg-dark text-white overflow-auto">
                    @Body
                </div>
            </div>
        </article>
    </main>


</div>
