@page "/toctable"
@inject IJSRuntime JS


<div class="container-fluid panelMain bg-dark">
    <div class="row bg-dark text-white overflow-auto">
        <TableOfContents></TableOfContents>
    </div>
</div>


@code {
  
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        //await JS.InvokeVoidAsync("ExpandIndex", "");
    //    }
    //}


}
