@using AmadonBlazorLibrary.Data;
@using AmadonStandardLib.Classes;
@using System.Diagnostics;
@using AmadonStandardLib.Helpers;
@using AmadonStandardLib.UbClasses;


<div class="row">
    <div class="col-sm-4 text-black">
        <SwitchControl @ref=SwitchMiddleTranslation LabelText="Show Middle Translation" IsToggled=@parameters.ShowMiddle SwitchType=(int)SwitchType.ShowMiddleTranslation />
    </div>
    <div class="col-sm-4">
        <SwitchControl @ref=SwitchRightTranslation LabelText="Show Right Translation" IsToggled=@parameters.ShowRight SwitchType=(int)SwitchType.ShowRightTranslation />
    </div>
    <div class="col-sm-4">
        <SwitchControl @ref=SwitchCompare LabelText="Show Compare" IsToggled=@parameters.ShowCompare SwitchType=(int)SwitchType.ShowCompare />
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <SwitchControl @ref=SwitchDarkMode LabelText="Dark Mode" IsToggled=@parameters.UseDarkThemme SwitchType=(int)SwitchType.UseDarkTheme />
    </div>
    <div class="col-sm-4">
        <SwitchControl @ref=SwitchParNumber LabelText="Show Paragraph Numnber" IsToggled=@parameters.ShowParagraphIdentification SwitchType=(int)SwitchType.ShowParagraphIdentification />
    </div>
    <div class="col-sm-4">
        <SwitchControl @ref=SwitchSerifFont LabelText="Use Serif Font" IsToggled=@parameters.ShowCompare SwitchType=(int)SwitchType.UseSerifFont />
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <TranslationListControl @ref="leftTranslationCombo" Title="Left Translation" SelectedValue=@parameters.LanguageIDLeftTranslation.ToString()></TranslationListControl>
    </div>
    <div class="col-sm-4">
        <TranslationListControl @ref="middleTranslationCombo" Title="Middle Translation" SelectedValue=@parameters.LanguageIDMiddleTranslation.ToString()></TranslationListControl>
    </div>
    <div class="col-sm-4">
        <TranslationListControl @ref="rightTranslationCombo" Title="Right Translation" SelectedValue=@parameters.LanguageIDRightTranslation.ToString()></TranslationListControl>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <NumberControl LabelText="Search Page Size" MinValue="10" MaxValue="100" Value=@parameters.SearchPageSize></NumberControl>
    </div>
    <div class="col-sm-4">
        <NumberControl LabelText="Max Search Expression Stored" MinValue="10" MaxValue="100" Value=@parameters.MaxExpressionsStored></NumberControl>
    </div>
    <div class="col-sm-4">
        <NumberControl LabelText="Font Size" MinValue="10" MaxValue="30" Value=@parameters.FontSize></NumberControl>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-primary" @onclick="OpenLocalRepository">Local Translation Repository</button>
    </div>
</div>

<div class="row">
     <div class="col-sm-12">
        <span class="text-wrap">
            Here you can get some help information and also the source code of this tool:
            <a target="_blank" class="font-weight-bold link-dark" href="https://github.com/Rogreis/UbStudyHelpMAUI">Help && Source Code</a>
        </span>
    </div>
</div>


@code {

    enum SwitchType
    {
        None,
        ShowParagraphIdentification,
        ShowMiddleTranslation,
        ShowRightTranslation,
        ShowCompare,
        UseDarkTheme,
        UseSerifFont
    }


    private Parameters parameters = new Parameters();

    private TranslationListControl leftTranslationCombo;
    private TranslationListControl middleTranslationCombo;
    private TranslationListControl rightTranslationCombo;

    private SwitchControl SwitchParNumber;
    private SwitchControl SwitchMiddleTranslation;
    private SwitchControl SwitchRightTranslation;
    private SwitchControl SwitchCompare;
    private SwitchControl SwitchDarkMode;
    private SwitchControl SwitchSerifFont;

    private bool Initialized = false;

    private string localReporitoryUrl = "";


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        parameters = StaticObjects.Parameters;
        if (firstRender)
        {
            // Wait for the button to be rendered
            StateHasChanged();
            SwitchParNumber.SetValue(parameters.ShowParagraphIdentification);
            SwitchMiddleTranslation.SetValue(parameters.ShowMiddle);
            SwitchRightTranslation.SetValue(parameters.ShowRight);
            SwitchCompare.SetValue(parameters.ShowCompare);
            SwitchDarkMode.SetValue(parameters.UseDarkThemme);
            SwitchSerifFont.SetValue(parameters.UseSerifFont);
            leftTranslationCombo.SetValue(parameters.LanguageIDLeftTranslation);
            middleTranslationCombo.SetValue(parameters.LanguageIDMiddleTranslation);
            rightTranslationCombo.SetValue(parameters.LanguageIDRightTranslation);
        }

        if (!Initialized)
        {
            await Task.Delay(1);

            // Replace Windows directory separator character with macOS directory separator character
            localReporitoryUrl = $"file:///{parameters.TUB_Files_RepositoryFolder.Replace(Path.DirectorySeparatorChar, Path.AltDirectorySeparatorChar)}";
            SwitchParNumber.FieldChanged += ParameterValueChanged;
            SwitchMiddleTranslation.FieldChanged += ParameterValueChanged;
            SwitchRightTranslation.FieldChanged += ParameterValueChanged;
            SwitchCompare.FieldChanged += ParameterValueChanged;
            SwitchDarkMode.FieldChanged += ParameterValueChanged;
            SwitchSerifFont.FieldChanged += ParameterValueChanged;
            leftTranslationCombo.FieldChanged += ParameterValueChanged;
            middleTranslationCombo.FieldChanged += ParameterValueChanged;
            rightTranslationCombo.FieldChanged += ParameterValueChanged;
            Initialized = true;
        }
        StateHasChanged();
    }

    private async void StoreParameters()
    {
        bool ret = await InitializationService.StoreParameters();
    }

    private void ShowWarning(string warning)
    {
    }


    private async void ParameterValueChanged()
    {
        Diagnostic diagnostic = await InitializationService.InitLeftTranslation(leftTranslationCombo.GetValue());
        if (diagnostic.IsError) ShowWarning(diagnostic.Message);
        diagnostic = await InitializationService.InitMiddleTranslation(middleTranslationCombo.GetValue());
        if (diagnostic.IsError) ShowWarning(diagnostic.Message);
        diagnostic = await InitializationService.InitRightTranslation(rightTranslationCombo.GetValue());
        if (diagnostic.IsError) ShowWarning(diagnostic.Message);


        parameters.ShowParagraphIdentification = SwitchParNumber.GetValue();
        parameters.UseSerifFont = SwitchSerifFont.GetValue();
        parameters.ShowMiddle = SwitchMiddleTranslation.GetValue();
        parameters.ShowCompare = SwitchCompare.GetValue();
        parameters.UseDarkThemme = SwitchDarkMode.GetValue();
        StoreParameters();
        LibraryEventsControl.FireRedrawText();
    }

    private Task OpenLocalRepository()
    {
        StaticObjects.OpenLocalFolder(parameters.TUB_Files_RepositoryFolder);
        return Task.CompletedTask;
    }



    private void ThemeChanged(bool isToggled)
    {
        parameters.UseDarkThemme = isToggled;
    }

    public void Initialize()
    {
        parameters = StaticObjects.Parameters;
        leftTranslationCombo.SetValue(parameters.LanguageIDLeftTranslation);
        middleTranslationCombo.SetValue(parameters.LanguageIDMiddleTranslation);
        rightTranslationCombo.SetValue(parameters.LanguageIDRightTranslation);

        SwitchParNumber.SetValue(parameters.ShowParagraphIdentification);
        SwitchMiddleTranslation.SetValue(parameters.ShowMiddle);
        SwitchRightTranslation.SetValue(parameters.ShowRight);
        SwitchCompare.SetValue(parameters.ShowCompare);
        SwitchDarkMode.SetValue(parameters.UseDarkThemme);
        SwitchSerifFont.SetValue(parameters.UseSerifFont);


    }

}
