@using Amadon.Controls.Help

<h1>@CurrentHelpPageName</h1>


<StartHelp></StartHelp>


@code {
    private string CurrentHelpPageName = AmandonHelpPageNames.StartingHelp;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AmadonEvents.OnShowHelpPage += OnShowHelp;
    }

    private void OnShowHelp(string newHelpPAge)
    {
        CurrentHelpPageName = newHelpPAge;
        StateHasChanged();
    }


}
