@using Amadon.Services;
@using AmadonStandardLib.Helpers;
<h5>Help</h5>



@code {

    // <iframe src="https://github.com/Rogreis/PtAlternative/blob/main/README.md" width="100%" height="500"></iframe>

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            HelpService.GetHtml();
            StateHasChanged();
        }
    }


}
