@using Amadon.Controls.Help

<style>

    .AmadonModal {
        width: 70vw !important; /* 70% of the viewport width */
        height: 70vh !important; /* 70% of the viewport height */
        margin: auto !important; /* Center the modal */
    }

    .AmadonDark {
        background-color: #212529; /* This is for .bg-dark */
        color: #ffffff; /* This is for .text-white */
    }

    .ModalSize {
        position: fixed; /* Use fixed position */
        top: 150px; /* Distance from the top */
        left: 250px; /* Distance from the left */
        width: 95% !important;
        height: 70% !important;
        max-height: 70% !important;
        overflow: auto; /* Add scrollbar if content is larger than modal */
    }

    .ModalBorder {
        border: 2px solid var(--bs-warning) !important;
    }

    .HeaderColors {
        background-color: var(--bs-primary);
        color: var(--bs-white);
    }

    .scrollable-modal-body {
        max-height: 450px; /* Adjust this to your desired height */
        overflow-y: auto;
        overflow-x: hidden;
    }

    td, th {
        background-color: #212529; /* This is for .bg-dark */
        color: #ffffff; /* This is for .text-white */
    }

    .barlink-hover:hover {
        cursor: pointer;
        color: var(--bs-warning) !important;
    }



</style>


<Modal @ref="modalRef" Class="modal-xl ModalSize fade">
    <ModalContent ElementId="ModalContentXXX" Class="ModalBorder">
        <ModalHeader Class="AmadonDark HeaderColors">
            <ModalTitle>Amadon Help</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody Class="AmadonDark scrollable-modal-body">


            @if (@CurrentHelpPageName == AmandonHelpPageNames.StartingHelp)
            {
                <StartHelp></StartHelp>
            }


            @if (@CurrentHelpPageName == AmandonHelpPageNames.TocHelp)
            {
                <TocHelp></TocHelp>
            }

            @if (@CurrentHelpPageName == AmandonHelpPageNames.SearchHelp)
            {
                <SearchHelp></SearchHelp>
            }

            @if (@CurrentHelpPageName == AmandonHelpPageNames.TrackHelp)
            {
                <TrackHelp></TrackHelp>
            }

            @if (@CurrentHelpPageName == AmandonHelpPageNames.IndexHelp)
            {
                <IndexHelp></IndexHelp>
            }
            

            @if (@CurrentHelpPageName == AmandonHelpPageNames.SettingsHelp)
            {
                <SettingsHelp></SettingsHelp>
            }


            @if (@CurrentHelpPageName == AmandonHelpPageNames.MenuBarHelp)
            {
                <MenuBarHelp></MenuBarHelp>
            }


        </ModalBody>
        <ModalFooter Class="AmadonDark">
            <HelpBar></HelpBar>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>



@code {
    // reference to the modal component
    private Modal modalRef;
    public bool IsDarkMode { get; set; } = true;
    private string CurrentHelpPageName = AmandonHelpPageNames.StartingHelp;

    public void ChangeHelpText(string amandonHelpPageName)
    {
        CurrentHelpPageName = amandonHelpPageName;
    }

    public void ShowModal(string amandonHelpPageName)
    {
        CurrentHelpPageName = amandonHelpPageName;
        if (!modalRef.Visible)
        {
            modalRef.Show();
        }
        else 
        { 
            modalRef.Hide();
            modalRef.Show();
        }
        StateHasChanged();
    }

    public Task HideModal()
    {
        return modalRef.Hide();
    }
}

