@using Amadon.Controls.Settings
@using AmadonStandardLib.Helpers;

<div id="leftColumn">
    @if (ControlName == AmandonComponentNames.ControlSettings)
    {
        <SettingsFields></SettingsFields>
     }
    else if (ControlName == AmandonComponentNames.ControlSearch)
    {
        <Search></Search>
    }
    else if (ControlName == AmandonComponentNames.ControlHelp)
    {
        <HelpControl></HelpControl>
    }
    else if (ControlName == AmandonComponentNames.ControlTrack)
    {
        <Track></Track>
    }
    else if (ControlName == AmandonComponentNames.ControlIndex)
    {
        <TubIndex></TubIndex>
    }
    else if (ControlName == AmandonComponentNames.ControlToc)
    {
        <TableOfContents></TableOfContents>
    }
</div>


@code {

    private string ControlName { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        AmadonEvents.OnTopNavCommand += AmadonEvents_OnTopNavCommand;
        await base.OnInitializedAsync();
        SetControl(StaticObjects.Parameters.LastLeftControl);
        return;
    }

    private void AmadonEvents_OnTopNavCommand(string controlName)
    {
        SetControl(controlName);
    }

    public void SetControl(string controlName)
    {
        ControlName = controlName;
        StaticObjects.Parameters.LastLeftControl = controlName;
        StateHasChanged();
    }


}
