@using Amadon.Controls.Settings
@using AmadonStandardLib.Helpers;
@*<div id="leftColumn" class="black splitLeft left p-4 bg_left text-white overflow-auto">
                             "col-md-3 bg_left splitLeft left bg_left text-white overflow-auto"
*@

<div id="leftColumn">
    @if (ControlName == "settings")
    {
        <SettingsFields></SettingsFields>
     }
    else if (ControlName == "search")
    {
        <Search></Search>
    }
    else if (ControlName == "help")
    {
        <HelpControls></HelpControls>
    }
    else if (ControlName == "track")
    {
        <Track></Track>
    }
    else if (ControlName == "index")
    {
        <TubIndex></TubIndex>
    }
    else if (ControlName == "toc")
    {
        <TableOfContents></TableOfContents>
    }
</div>


@code {

    private string ControlName { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        AmadonEvents.OnTopNavCommand += AmadonEvents_OnTopNavCommand;
        await base.OnInitializedAsync();
        return;
    }

    private void AmadonEvents_OnTopNavCommand(string controlName)
    {
        SetControl(controlName);
    }

    public void SetControl(string controlName)
    {
        ControlName = controlName;
        StaticObjects.Parameters.LastLeftControl = controlName;
        StateHasChanged();
    }


}
