@using Amadon.Controls.Settings
@using AmadonStandardLib.Helpers;
@*<div id="leftColumn" class="black splitLeft left p-4 bg_left text-white overflow-auto">
                             "col-md-3 bg_left splitLeft left bg_left text-white overflow-auto"
*@

<div id="leftColumn">
    @if (ControlName == AmadonEvents.ControlSettings)
    {
        <SettingsFields></SettingsFields>
     }
    else if (ControlName == AmadonEvents.ControlSearch)
    {
        <Search></Search>
    }
    else if (ControlName == AmadonEvents.ControlHelp)
    {
        <HelpControl></HelpControl>
    }
    else if (ControlName == AmadonEvents.ControlTrack)
    {
        <Track></Track>
    }
    else if (ControlName == AmadonEvents.ControlIndex)
    {
        <TubIndex></TubIndex>
    }
    else if (ControlName == AmadonEvents.ControlToc)
    {
        <TableOfContents></TableOfContents>
    }
</div>


@code {

    private string ControlName { get; set; } = "";

    private bool ControlNameValid()
    {
        string name = StaticObjects.Parameters.LastLeftControl;
        return name == AmadonEvents.ControlSettings ||
               name == AmadonEvents.ControlSearch ||
               name == AmadonEvents.ControlHelp ||
               name == AmadonEvents.ControlTrack ||
               name == AmadonEvents.ControlIndex ||
               name == AmadonEvents.ControlToc;
    }

    protected override async Task OnInitializedAsync()
    {
        AmadonEvents.OnTopNavCommand += AmadonEvents_OnTopNavCommand;
        await base.OnInitializedAsync();
        if (string.IsNullOrEmpty(StaticObjects.Parameters.LastLeftControl) || !ControlNameValid())
        {
            StaticObjects.Parameters.LastLeftControl = AmadonEvents.ControlToc;
        }
        SetControl(StaticObjects.Parameters.LastLeftControl);
        return;
    }

    private void AmadonEvents_OnTopNavCommand(string controlName)
    {
        SetControl(controlName);
    }

    public void SetControl(string controlName)
    {
        ControlName = controlName;
        StaticObjects.Parameters.LastLeftControl = controlName;
        StateHasChanged();
    }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //    }
    //}

}
