@using Amadon.Services;
@using AmadonStandardLib.InterchangeData;
@using Blazorise.LoadingIndicator;

<SearchDataEntry @ref="dataEntry"></SearchDataEntry>
<Row>
    <Column>
        <Button Outline Size="Size.Small" Margin="Margin.Is2" Color="Color.Primary" @onclick="OnSortClick">Reorder</Button>
        <Button Outline Size="Size.Small" Margin="Margin.Is2" Color="Color.Primary" @onclick="OnSearch">Search</Button>
    </Column>
</Row>

<LoadingIndicator @ref="loadingIndicator">
    <SearchPagination @ref="SearchPaginationElement"></SearchPagination>
</LoadingIndicator>



@code {
    LoadingIndicator loadingIndicator;
    SearchPagination SearchPaginationElement;
    SearchDataEntry dataEntry;
    bool showSearchResults = false;

    void OnSortClick()
    {
        // Your event handler code here
    }

    void DoSearch()
    {
        if (!string.IsNullOrEmpty(PersistentData.SearchData.QueryString))
        {
            showSearchResults = true;
            SearchPaginationElement.Start();
            //StateHasChanged();
        }
    }

    void OnSearch()
    {
        DoSearch();
    }

    private void HandleOnQueryText()
    {
        DoSearch();
    }


    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            //dataEntry.OnQueryText += HandleOnQueryText;
        }
    }


}
