@using Blazorise.LoadingIndicator;

<SearchDataEntry></SearchDataEntry>
<Row>
    <Column>
        <Button Outline Size="Size.Small" Margin="Margin.Is2" Color="Color.Primary" @onclick="OnSortClick">Reorder</Button>
        <Button Outline Size="Size.Small" Margin="Margin.Is2" Color="Color.Primary" @onclick="OnSearch">Search</Button>
    </Column>
</Row>

<LoadingIndicator @ref="loadingIndicator">
    @if (showSearchResults)
    {
        <SearchPagination @ref="SearchPaginationElement"></SearchPagination>
    }
</LoadingIndicator>



@code {
    LoadingIndicator loadingIndicator;
    SearchPagination SearchPaginationElement;
    bool showSearchResults = false;

    void OnSortClick()
    {
        // Your event handler code here
    }

    void OnSearch()
    {
        showSearchResults = true;
        StateHasChanged();
    }

}
