@using AmadonStandardLib.InterchangeData;
@using Blazorise.LoadingIndicator;

<SearchDataEntry @ref="dataEntry"></SearchDataEntry>
<Row>
    <Column>
        <Button Outline Size="Size.Small" Margin="Margin.Is2" Color="Color.Primary" @onclick="OnSortClick">Reorder</Button>
        <Button Outline Size="Size.Small" Margin="Margin.Is2" Color="Color.Primary" @onclick="OnSearch">Search</Button>
    </Column>
</Row>

<LoadingIndicator @ref="loadingIndicator">
    <SearchPagination @ref="SearchPaginationElement"></SearchPagination>
</LoadingIndicator>



@code {
    LoadingIndicator loadingIndicator;
    SearchPagination SearchPaginationElement;
    SearchDataEntry dataEntry;
    bool showSearchResults = false;

    void OnSortClick()
    {
        // Your event handler code here
    }

    void OnSearch()
    {
        showSearchResults = true;
        SearchData searchData = dataEntry.GetSearchData();
        if (!string.IsNullOrEmpty(searchData.QueryString))
        {
            SearchPaginationElement.Start(searchData);
            StateHasChanged();
        }
    }

}
