
<div class="form-check form-switch">
    <label class="form-check-label" for="mySwitch">@LabelText</label>
    <input class="form-check-input" type="checkbox" @bind="IsToggled" id="mySwitch" name="darkmode" value="yes">
</div>
6
@code {

    private string _labelText = "";
    private bool _isToggled = false;

    [Parameter]
    public string LabelText
    {
        get { return _labelText; }
        set { _labelText = value; }
    }

    [Parameter]
    public bool IsToggled
    {
        get { return _isToggled; }
        set { _isToggled = value; }
    }



}
