@using AmadonStandardLib.Helpers;
@inject NavigationManager NavigationManager


<nav class="navbar navbar-expand-sm bg-primary navbar-dark navbarheight fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="studying-icon.png" style="width:40px;" class="rounded-pill">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="LinkToTOC">
                        <span class="oi oi-list" aria-hidden="true"></span> Table of Contents
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="LinkToIndex">
                        <span class="oi oi-star" aria-hidden="true"></span> Index
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="LinkToSearch">
                        <span class="oi oi-envelope-closed" aria-hidden="true"></span> Search
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="LinkToTrack">
                        <span class="oi oi-location" aria-hidden="true"></span> Track
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="LinkToSettings">
                        <span class="oi oi-target" aria-hidden="true"></span> Settings
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="LinkToHelp">
                        <span class="oi oi-question-mark" aria-hidden="true"></span> Help
                    </NavLink>
                </li>
            </ul>

            <Field Horizontal>
                <TextEdit Class="form-control me-2 highlightField" @bind-Text="@ExpressionToSearch" Placeholder="Expression to highlight" />
            </Field>
            <Button Color="Color.Warning" Clicked="@QuickSearch">Highlight</Button>

        </div>
   </div>
</nav>

@code
{

    private bool ControlNameValid(string name)
    {
        return name == AmandonComponentNames.ControlSettings ||
               name == AmandonComponentNames.ControlSearch ||
               name == AmandonComponentNames.ControlHelp ||
               name == AmandonComponentNames.ControlTrack ||
               name == AmandonComponentNames.ControlIndex ||
               name == AmandonComponentNames.ControlToc;
    }

    private void FireTopNavCommand(string eventName)
    {
        if (ControlNameValid(eventName))
        {
            StaticObjects.Parameters.LastLeftControl = eventName;
            AmadonEvents.TopNavCommand(eventName);
        }
    }
    private void LinkToTOC() => FireTopNavCommand(AmandonComponentNames.ControlToc);

    private void LinkToIndex() => FireTopNavCommand(AmandonComponentNames.ControlIndex);

    private void LinkToSearch() => FireTopNavCommand(AmandonComponentNames.ControlSearch);

    private void LinkToTrack() => FireTopNavCommand(AmandonComponentNames.ControlTrack);

    private void LinkToSettings() => FireTopNavCommand(AmandonComponentNames.ControlSettings);

    private void LinkToHelp() => FireTopNavCommand(AmandonComponentNames.ControlHelp);

    private string ExpressionToSearch = "";

    private void QuickSearch()
    {
        if (!string.IsNullOrWhiteSpace(ExpressionToSearch))
            AmadonEvents.HighlightExpression(ExpressionToSearch);
    }

}