<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="studying-icon.png" style="width:40px;" class="rounded-pill">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="booktext"><span class="oi oi-text" aria-hidden="true"></span> Book Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="toctable"><span class="oi oi-list" aria-hidden="true"></span> Table of Contents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tubindex"><span class="oi oi-star" aria-hidden="true"></span> Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search"><span class="oi oi-info" aria-hidden="true"></span> Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="track"><span class="oi oi-location" aria-hidden="true"></span> Track</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"><span class="oi oi-target" aria-hidden="true"></span> Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help"><span class="oi oi-question-mark" aria-hidden="true"></span> Help</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Quick Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>



@*<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Amadon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
*@