@using Amadon.Services;
@using AmadonStandardLib.Helpers;
@using AmadonStandardLib.UbClasses;
<h3>Tracking</h3>

@if (showTrackList)
{
    @foreach (string line in @trackList)
    {
        @((MarkupString)@line)
    }
}
 

@code 
{
    private List<string> trackList;
    private bool showTrackList = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async void ShowTrack()
    {
        showTrackList = false;
        StateHasChanged();
        trackList = await TrackService.GetAllEntries();
        showTrackList = true;
        StateHasChanged();
    }

    public async void OnNewTocEntry(TOC_Entry entry)
    {
        showTrackList = false;
        await TrackService.AddEntry(entry);
        ShowTrack();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            ShowTrack();
        }
    }


}
