@using AmadonStandardLib.Classes;
@using AmadonStandardLib.Helpers;
@using AmadonStandardLib.UbClasses;

<div class="input-group input-group-sm mb-3">
    <span class="input-group-text">@Title</span>
    <select class="form-control" @bind="SelectedValue">
        @foreach (var item in Items)
        {
            <option value="@item.Value">@item.DisplayText</option>
        }
    </select>
</div>

@code {

    private string _selectedValue = "";
    public event FieldChangedDelegate FieldChanged = null;

    [Parameter]
    public string Title { get; set; } = "";


    [Parameter]
    public string ComboValue { get; set; } = "0";

    //private string SelectedValue { get; set; } = "";

    private List<SelectListItem> Items { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();

        // initialize the list of items
        Items = new List<SelectListItem>();
        foreach (Translation trans in StaticObjects.Book.Translations)
        {
            Items.Add(new SelectListItem { Value = trans.LanguageID.ToString(), DisplayText = trans.Description });
        }
        SelectedValue = ComboValue;
    }

    private void WarnOtherPages()
    {
        Task.Run(async () =>
        {
            // Call an async function without waiting for it to complete
            FieldChanged?.Invoke();
        });

        // The method returns immediately without waiting for the async function to complete
        return;
    }

    [Parameter]
    public string SelectedValue
    {
        get => _selectedValue;
        set
        {
            _selectedValue = value;
            WarnOtherPages();
        }
    }


    public void SetValue(short translationId)
    {
        SelectedValue = translationId.ToString();
    }

    public short GetValue()
    {
        return SelectedValue == null? (short)-1 : Convert.ToInt16(SelectedValue);
    }

    //private void HandleSelectChange(ChangeEventArgs e)
    //{
    //    ComboValue = e.Value.ToString();
    //}


    public class SelectListItem
    {
        public string Value { get; set; }
        public string DisplayText { get; set; }
    }


}
