<h3 id="introduction">Introduction</h3>
<p>The Tracking feature in the Amadon app is a useful tool for keeping a record of your reading journey through &quot;The Urantia Book&quot;. It helps you remember which paragraphs, document titles, or sections you&#39;ve accessed during your study.</p>
<h3 id="using-the-tracking-feature">Using the Tracking Feature</h3>
<p><strong>Recorded Entries</strong>: The Tracking page lists all paragraphs, document titles, and sections you&#39;ve accessed. This list is maintained in the order of access, allowing you to trace your reading and research paths. The most recently accessed items appear at the top of the list.</p>
<p>While the list is chronological, it doesn&#39;t display specific access times or dates. Its primary function is to provide a sequence of your readings and searches, making it easy for you to revisit previously explored sections.</p>
<p><strong>Accessing Past Items</strong>: To view a previously accessed paragraph, document title, or section, simply go to the Tracking page and click on the desired entry. The corresponding text will then be displayed in the reading pane.</p>
<p>The Tracking feature is designed to aid in your research and study of &quot;The Urantia Book&quot; by keeping a log of your reading progress. This tool allows you to efficiently revisit topics of interest or pick up where you left off in your reading. If you need any further help with this feature or any other aspect of the Amadon app, please don&#39;t hesitate to reach out to our support team.</p>


@code {


}
