@page "/"
@using Amadon.Controls;
@using Amadon.Controls.Settings
@using Amadon.Services;
@using AmadonStandardLib.Classes;
@using AmadonStandardLib.Helpers;

@using Blazorise

<div class="container_fluid  h-100">
@if (!AppInitialized)
{
    <InitializationControl></InitializationControl>
}
else
{
    <div class="row ">
        <div class="col-md-3 bg_left splitLeft left bg_left text-white overflow-auto">
            <LeftColumn></LeftColumn>
        </div>
        <div class="col-md-9 splitRight right mt-0 bg-dark text-white overflow-auto">
            <BookText></BookText>
        </div>
    </div>
}
</div>


@code {


    // Local blazor components
    private LeftColumn LeftControl;

    private bool AppInitialized = false;



    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AmadonEvents.OnInitializationSuccesfully += OnInitializationSuccesfully;
    }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //    }
    //}

    protected void OnInitializationSuccesfully()
    {
        AppInitialized = true;
        AmadonEvents.TopNavCommand(StaticObjects.Parameters.LastLeftControl);
        StateHasChanged();
    }



}
