@page "/test"

<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
            <h3>BlazorizeTest</h3>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed>
            <h3>Header</h3>
        </LayoutHeader>
        <LayoutContent>
            Content
        </LayoutContent>
    </Layout>
</Layout>

@code {

}
