@page "/"
@using Amadon.Controls


<div class="container_fluid  h-100">
    <div class="row ">
        <div class="col-md-3 bg_left splitLeft left bg_left text-white overflow-auto">
            @for(int i= 1; i<100; i++)
            {
                <p>First column (30% width) with yellow background: @i</p>
            }
        </div>
        <div class="col-md-9 splitRight right mt-0 bg-dark text-white overflow-auto">
            @for (int i = 1; i < 100; i++)
            {
                <p>Second column (70% width) with black background and white text @i</p>
            }
        </div>
    </div>
</div>




