@page "/"
@using Amadon.Controls


<div class="container_fluid flex-grow">
    <div class="row h-100 p">
        <div class="col-md-3 bg_left  scroll">
            @for(int i= 1; i<100; i++)
            {
                <p>First column (30% width) with yellow background: @i</p>
            })
        </div>
        <div class="col-md-9  scroll" style="background-color: black; color: white;">
            <p>Second column (70% width) with black background and white text</p>
        </div>
    </div>
</div>




