@page "/MainContainer"
@using Amadon.Controls


<div class="container_fluid  h-100">
    <div class="row ">
        <div class="col-md-3 bg_left splitLeft left bg_left text-white overflow-auto">
            <Amadon.Controls.LeftColumn></Amadon.Controls.LeftColumn>
        </div>
        <div class="col-md-9 splitRight right mt-0 bg-dark text-white overflow-auto">
            <BookText></BookText>
        </div>
    </div>
</div>




